*:not(li){
    overflow-x: hidden;
   }
   
     /* 商品數量 */
     .numbox{
       color:#21212194;
       font-size: 20px;
     }
     .numbox > span {
       color:#006064;
     }
     /* navbar */
     .bg-mybgcolor{
         background: #5e7480ad;
     }
     .navbar-brand{
         font-size: 3rem;
         font-family:Georgia, 'Times New Roman', Times, serif;
         color: #212121;
     }
     .nav-link{
         color: #212121;
         font-size: 18px;
         margin: 0 10px;
     }
     .nav-link:hover{
         color: #d8d8d8;
         background-color: #5e7480ad;
         border-radius: 5px;
         text-decoration: none;
         font-size: 20px;
     }
     /* 商品分頁標題 */
     .mytitle{
         margin-top: 80px;
         margin-bottom: 80px;
     }
     .mytitle h3{
       color:#212121;
       font-size: 44px;
     }
     .mytitle h5{
       color: #5e7480ad;
       font-family: Georgia, 'Times New Roman', Times, serif; 
     }
     /* 頁尾分頁 */
     .pagination li{
         margin: 0 5px;
         
     }
     .pagination  .page-link{
         border: none;
         align-items: center;
         color:#212121 ;
     }
     /* card卡片 */
     .card-title{
       text-align: center;
       font-size: 20px;
     }
     .card{
       background-color:#b0bec549;
     }
     .allcard{
         margin-top: 30px;
     }
     .card{
       margin-bottom: 20px;
     }
     .card-body{
         height: 100%;
         margin: 10px 0px;
     }
     li{
       color: #212121c5;
     }
     a.btn{
      display: block;
     }
     .btn-primary{
       background-color: #5e7480ad;
       border: none;
     }
     .btn-primary:hover{
       background-color: #212121ad;
     }
     /* 麵包屑 */
     .mybreadcrumb{
      background-color: #b0bec57a;
      }
      .breadcrumb{
          background-color: transparent;
          letter-spacing: 5px;
      }
      .breadcrumb-item a{
          color: #006064;
          text-decoration: none;
      }
      .breadcrumb-item a:hover{
          color: #5e7480ad;
          text-decoration: none;
      }
      .breadcrumb-item.active{
          color:#9c9896;
      }
     /* 左側選單 */
     .list-group{
         margin-top: 50px;
         /* margin-left: 60px; */
         width: 70%;
         text-align: center;
         
     }
     .list-group-item{
         border: none;
     }
     .list-group-item:hover{
         background-color:#b0bec59c ;
     }
     .list-group-item-action.active{
         background-color:#2d2f307a ;
     }
     /* 頁尾 */
     .footer{
     background-color: #5e74806c;
       color:#212121;
       font-family: Georgia, 'Times New Roman', Times, serif;
       height: 150px;
       margin-top: 50px; 
     }
     .iconimg{
       background-image: url(./icon/icon-img.ico);
       height: 100px;
       width: 100px;
       margin: 25px 20px 25px 30px;
       background-size: cover;
     }
     .email{
       height: 20px;
       width: 20px;
     }
     .phone{
       height: 20px;
       width: 20px;
     }
     .address{
       height: 20px;
       width: 20px;
     }